.container {
    @apply

    py-20
    text-center

    ;
    //background: linear-gradient(180deg, #1313130d 27.92%, #ffc1574d);
    h3 {
        @apply
        flex
        items-center
        justify-center
        flex-col
        text-4xl	
        font-semibold
        mb-5
        text-white
        text-center
        md:flex-row
        ;
        > div {
            @apply
            flex
            gap-1
            mx-4
            ;
            > div {
                background: #ffc525;
                -webkit-clip-path: polygon(50% 0, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                clip-path: polygon(50% 0, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                height: 23px;
                width: 24px;
            }
        }
        p {
            @apply
            text-xl	
            font-normal
            text-white
            font-semibold
            ;
        }
        img {
            @apply 
            h-20
            ml-4
            ;
        }
    }
    &Carrousel {
        @apply
        mt-10
        ;
    }
}