.container {
    @apply
    max-w-screen-xl
    m-auto
    px-4
    py-10
    md:px-10

    ;
    h3 {
        @apply
        text-3xl
        font-semibold
        mb-5
        text-white
        text-center
        md:text-5xl	
        ;
        span {
            @apply
            text-3xl
            font-semibold
            text-primary-default
            md:text-5xl	
            ;
        }
    }
    &Form {
        &_switch {
            > div {
                @apply
                flex
                justify-center
                items-center
                mb-5
                mt-10
                ;
                span {
                    @apply
                    text-white
                    text-xl
                    font-semibold
                    ;
                }
                > div {
                    @apply
                    mx-3;
                }
            }
            p {
                @apply
                text-center
                text-primary-default
                ;
            }
        }
        &__plans {
            @apply
            flex
            flex-wrap
            grid-cols-12	
            gap-12
            justify-between
            mt-10
            md:gap-5
            md:grid
            ;
            > div {
                &:first-child {
                    @apply
                    flex
                    flex-wrap
                    col-span-12
                    gap-5
                    md:gap-3
                    md:col-span-8
                    ;   
                    > div {
                        
                    }
                }
                &:last-child {
                    @apply
                    w-full
                    h-fit
                    col-span-12
                    p-5
                    md:col-span-4
                    ;
                    background: #2c2c2c;
                    border: 1px solid #828282;
                    border: 1px solid #828282;
                    border-radius: 12px;
                    h5 {
                        @apply
                        text-xl
                        text-white
                        font-semibold
                        pb-3
                        md:pb-1
                        mb-3
                        md:mb-1
                        ;
                        border-bottom: 1px solid #828282;
                    }
                    > p {
                        @apply
                        flex
                        justify-between
                        text-base
                        text-white
                        mb-5
                        md:mb-3
                        ;
                    }
                    > div {
                        p {
                            @apply
                            flex
                            justify-between
                            text-base
                            text-white
                            ;
                            span {
                                @apply
                                flex
                                items-center
                                text-4xl
                                md:text-2xl
                                text-white
                                ;
                                small {
                                    @apply
                                    text-base
                                    ml-2
                                    ;
                                }
                            }
                        }
                    }
                    button {
                        @apply
                            mt-10
                        ;
                        align-items: center;
                        align-self: stretch;
                        border-radius: 12px;
                        cursor: pointer;
                        display: flex;
                        font-size: 1.125rem;
                        gap: 10px;
                        height: 45px;
                        justify-content: center;
                        font-weight: 600;
                        padding: 12px 30px;
                        width: 100%;
                        background-color: white;
                    }
                }
            }
        }

        
    }

}

.cardCustom {
    transition:all 0.25s ease-out;
    cursor:pointer;
    @apply
    ease-in
    p-4
    max-md:p-2
    rounded-3xl
    relative
    w-[100%]
    md:w-[48%]
    ;
    box-sizing: border-box;
    background: #2c2c2c;
    &Best {
        border: 6px solid #662483;
    }
    > span {
        align-items: center;
        align-self: center;
        background: linear-gradient(90deg, #662483 30.19%, #2D2E83 97.43%);
        border-radius: 90px;
        display: flex;
        justify-content: center;
        max-width: -webkit-fit-content !important;
        max-width: -moz-fit-content !important;
        max-width: fit-content !important;
        padding: 5px 30px;
        position: absolute;
        left: 0;
        right: 0;
        top: -15px;
        z-index: 3;
        margin: auto;
        @apply
        text-base
        font-semibold  
        text-white 
        ;
    }
    h4 {
        @apply
        text-2xl
        font-semibold
        text-white
        mb-5
        md:mb-3
        ;
    }
    h2 {
        @apply
        text-4xl
        md:text-3xl
        font-semibold
        text-white
        flex
        items-center
        ;
        span {
            @apply
            text-base
            pl-2
            ;
        }
    }
    p {
        @apply
        text-base
        text-white
        mt-5
        
        ;   
    }
}

.cardCustom:hover{
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-10px);
}
.cardClick{
    background: #260d31;
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-10px);
}	
.cardClickPro{
    background: #260d31;
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-10px);
}