.container {
    @apply
    py-20

    ;
    &Detail {
        @apply
        max-w-screen-xl
        px-6
        m-auto
        md:px-24
        ;
        h3 {
            @apply
            text-3xl
            font-semibold
            mb-5
            text-white
            text-center
            md:text-5xl	
            ;
            span {
                @apply
                text-3xl
                font-semibold
                text-primary-default
                md:text-5xl	
                ;
            }
        }
        > p {
            @apply
            text-xl
            text-white
            text-center
            mb-20
            ;
        }
    
    }
    
    &Action {
        @apply
        text-center

        ;
        button {
            align-items: center;
            border: 1px solid #fff;
            border: 1px solid var(--bn-white, #fff);
            border-radius: 12px;
            color: var(--white);
            cursor: pointer;
            display: flex;
            flex-direction: row;
            gap: 10px;
            height: 58px;
            justify-content: center;
            padding: 10px 20px;
            width: 175px;
            @apply
            text-white
            text-xl
            m-auto
            ;
        }
    }
}